*,
*::before,
*::after{
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/** Header ************************************ */
header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.logo_and_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    margin: 10px 100px;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
}
li {
    padding: 0px 20px;
}
.signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 100px;
    padding: 10px;
}
.signup_sub {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.logo {
    width: 50px;
    align-items: flex-end;
}
.ph_image {
    width: 50%;
}
/** .info ************************************* */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;
}

.fig_container {
    display: flex;
    flex-direction: row;
}

.info_img {
    height: 100px;
    padding: 15px;
}

/** .insp_quote ******************************* */
.insp_quote {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    width: 100%;
    margin: 10px 0px;
    padding: 50px 110px;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color: #1F2937;
}

.sig {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}
/** .call_to_action *************************** */
.call_to_action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 50px;
    background-color: #3882F6;
    color: white;
    margin: 50px 100px;
    border-radius: 5px;
}

.call_to_action_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px;
}

.btn_signup {
    background-color: #3882F6;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
}
.call_to_action .btn_signup {
    border: 2px solid white;
}

/** footer ************************************ */
footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    width: 100%;
    padding: 20px;
}
